@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.container-title{
display: flex;
justify-content: end;
}
.title-container{
    width: 750px;
    position: relative;
    margin-top: 70px;
}
.title-container h1{
    color: white !important;
    font-size: 4.5rem;
}
.title-container h2{
    margin-top: 25px;   
    font-size: 3.9rem;
    font-family: 'Dancing Script';
    color: transparent;
    position: relative;

}
.text-home
{
   width: fit-content;
}
.title-container h2::before
{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-right: 1px solid white    ;
    animation: type 10s linear infinite;
    white-space: nowrap;
    color: white;
}
@media screen and (max-width:720px){
    .container-title{
        display: flex;
        justify-content: center;
        text-align: center;
        height: 100%;
        }
        .test-title{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30%;
        }
        .title-container{
            width: 100%;
            position: relative;
            margin-top: 70px;
        }
        .title-container h1{
            color: white !important;
            font-size: 3.5rem;
        }
        .title-container h2{
            margin-top: 25px;   
            font-size: 2.8rem;
            font-family: 'Dancing Script';
            color: transparent;
            position: relative;
        
        }
        .text-home
        {
            display: flex;
            text-align: center;
           width: fit-content;
           justify-content: center;
           height: 100px;

           
        }
        .icons-Home {
            display: contents;
        }
}
@keyframes type
{
    0%{
width: 0;
    }
    50%{
 width: 100%;
    }
    100%{
        width: 0;
    }
}
.title-container h3{
    margin-top: 25px;
    color: white !important;
    font-size: 1.9rem;

}
.title-container .font-icon{
    cursor: pointer;
    height: 55px;
    width: 55px;
    border-radius: 45px;
    color: white;
    margin: 10px;
}
.font-icon:hover{
    transform: translateY(-5px);                                               ;
}
