.footer-container{
    height: 85vh;
    width: 100%;
    position: relative;
    background: #111;
    display: flex;
    flex-direction: column ;
    overflow: hidden;
}
.footerCopy-container
{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    height: 8vh;
    width: 100%;
}
.footerCopy-container p
{
    margin: 0;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.footerCopy-container span{
  color: rgb(82, 82, 237);  
  cursor: pointer;
}